<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <h1 class="panel-title text-left">Contacts</h1>
   <!--Puede ser que falte una imagen aqui por que es lo que vi en el video-->
            </div>
            <div class="col-xs-6">
                <button type="button" class="btn btn-success">NEW CONTACT</button>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <cms-contact-item  *ngFor="let contact of contacts" [contact]="contact" (click)="onSelected(contact)"/>
    </div>
</div>