<div class="panel panel-default">
    <div class="panel-heading">
        <div class="row">
            <div class="col-xs-6">
                <h1 class="panel-title text-left">Contacts</h1>
   <!--Puede ser que falte una imagen aqui por que es lo que vi en el video-->
            </div>
            <div class="col-xs-6">
                <a [routerLink]="['new']" class="btn btn-success"> New Contact </a>
            </div>
        </div>
    </div>
    <div class="panel-body"
        cdkDropList
        [cdkDropListConnectedTo]="['groupList']"
        [cdkDropListData]="contacts">
        <cms-contact-item  *ngFor="let contact of contacts" [contact]="contact" cdkDrag/>
    </div>
</div>